#projectExamples {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.projectBox {
    background: #d9dcfa;
    border: 1px solid #000000;
    margin: 10px;
    text-align: center;
    width: 31%;
}

.projectBox h4.semester {
    background:#03013b9f; 
    color: #FFFFFF;
    padding: 15px;
}

footer {
    clear: left;
}
.projectBox img{
    padding: 20px; 
    width: 250px; 
    transition: width 2s ease 0.5s;
}

.projectBox img:hover{
width: 350px;

}


ul li{
    list-style-image: url("/Image/ReCon.png");
  }

  

  