#projectExamples {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.projectBox {
    background: #d9dcfa;
    border: 1px solid #000000;
    margin: 10px;
    text-align: center;
    width: 31%;
}

.projectBox h4.semester {
    background:#03013b9f; 
    color: #FFFFFF;
    padding: 15px;
}

.projectBox img {
    margin-bottom: 20px;
}

.projectBox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    background: #03013b9f;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 1px;
}
footer {
    clear: left;
}

