body {
    background: linear-gradient(to top left, rgba(89, 88, 88, 0.252), rgba(99, 126, 246, 0.825));
    color: #151515;
    font-size: 1.25rem;
}

h1{
    font-family: "Lugrasimo", cursive;
    font-weight: 800;
    font-style: normal;
    color: #151515;
  }

  
  
