
body {
 background: #b0e0fc; 
}	

#outerwrapper {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border-style: dotted;
}

/* add first-of-type to target h2 */
h2, h3 {
  padding-left: .5em;
}

/* add nth-child(odd) to target ul li */
:nth-child(odd) {
  font-style: italic;
}

a:link{
  color:rgba(139, 25, 161, 0.43);
}

a:visited{
  color:rgba(115, 10, 69, 0.923)
}

a:hover{
color: #cc71ef
}

a:active{
  color:rgb(163, 20, 214)
}


footer
{
  background: #ffffff; 
  text-align: center;
  padding: .25em;
}